

.dresseurTitle{
  margin-top: 120px;
}
.Typography h1{
  margin-top:100px;
}


body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}
.dropdown-menu{
position: absolute;
min-width: 0 !important;
width: auto;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {

  margin-right: 16px !important;
}
.navbar .dropdown-menu a:not(.active) {
font-size:17px;
font-weight: 400;
}
.leaflet-container {  width: 98,5vw;  height: 100vh; }


.btn.aqua-gradient {
  
  border-radius: 20px;
}
.btn.btn-sm {
  border-radius: 20px;
  color: #ffffff !important;


}
a.btn-info.btn-outline-info:hover{
  color: #ffffff !important;
}

.MuiTableContainer-root {
   
  background: beige !important;
}

.listDresseurs .MuiTableContainer-root {
   
  background: #f7f7f7 !important;
}
.fa .fa-envelope-o{
  color: white;
}


