
.MuiCardActions-root{
	float: right;
}
.MuiTypography-h5{
	color:black
}
img.card-img-top{
    border-radius: 50%;
    position: relative;
    max-width: 40%;
    height:auto;
    top:-90px;
}

img.card-img-bottom{
	position: relative;
	max-width: 20%;
	left:45px;
	bottom: -50px;
	height: auto;
}

.cardsDresseurs .MuiCard-root{
width: 380px;
}

.cardsDresseurs .MuiCard-root:hover{
	box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 22px 0px;
  transform: matrix(1, 0, 0, 1, 0, -9.62);
}
